/* @import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish&family=Nunito&family=Nunito+Sans:wght@400;600&family=Poppins:ital,wght@0,400;0,500;1,300;1,400&family=Questrial&family=Raleway&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Testing on phone offline */
@font-face {
  font-family: BelfastGrotesk;
  src: url("../public/Belfast Grotesk Black.ttf") format("truetype");
}

@font-face {
  font-family: BelfastLight;
  src: url("../public/Belfast Grotesk Light.ttf") format("truetype");
}

@font-face {
  font-family: BelfastMedium;
  src: url("../public/Belfast Grotesk Medium.ttf") format("truetype");
}
:root {
  --primary: #d305b1;
}
html {
  @apply scroll-smooth;
}

*::-webkit-scrollbar {
  @apply w-[5px] h-[5px];
}

*::-webkit-scrollbar-thumb {
  @apply rounded bg-slate-400;
}

*::-webkit-scrollbar-track {
  @apply !bg-transparent;
}

body {
  @apply bg-main-bg text-main-dark dark:bg-main-dark dark:text-white;
  font-family: BelfastGrotesk;
  overflow-x: hidden;
}

/* General styles */
p,
a,
svg {
  @apply text-muted;
}

a.btn {
  @apply opacity-100;
}

footer a {
  @apply text-sm transition-a;
}

footer a:hover {
  @apply ml-2 text-primary;
}

.card {
  @apply p-4 bg-white border rounded-lg dark:bg-card-dark dark:border-dark;
}

.card-bordered {
  @apply border dark:border-dark;
}

.btn {
  @apply px-4 py-[0.35rem] rounded-lg transition-a sm:cursor-pointer !uppercase flex-shrink-0;
}

.btn-primary {
  @apply bg-primary text-white hover:bg-[#f7751e] shadow-md shadow-primary/60;
}

.btn-secondary {
  @apply bg-secondary text-white hover:bg-[#02293e];
}

.icon-box {
  @apply grid flex-shrink-0 rounded-full w-12 h-12 place-items-center hover:bg-slate-200 dark:hover:bg-hover-color-dark transition-a sm:cursor-pointer;
}

.border {
  @apply border-[#d2d2d2]/40;
}

.input {
  @apply border !border-slate-300 dark:!border-dark bg-transparent px-4 py-[0.35rem] outline-none focus:!border-primary;
}

.hide-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.isOpen {
  @apply max-h-screen p-4 pl-2 pt-0;
}

.loading {
  overflow: hidden;
  height: 100vh;
}

a.active {
  @apply relative text-primary before:absolute before:w-full before:h-[2px] before:bg-primary before:left-0 before:bottom-0 lg:before:-bottom-[0.1rem];
}

.text-full-opacity {
  @apply opacity-100;
}
/* Gradieent Blob */
:root {
  --color-bg1: #6c00a2;
  --color-bg2: #001152;
  --color1: 157, 5, 211;
  --color2: 255, 0, 0;
  --color3: 254, 61, 212;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 400px;
  --blending: hard-light;
}
@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
.gradient-bg {
  height: 100vh;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
}
.gradient-bg svg {
  display: none;
}
.gradient-bg .gradients-container {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}
.gradient-bg .g1 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color1)) 0,
      rgba(var(--color1)) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  border-radius: 100%;
  width: var(--circle-size);
  height: var(--circle-size);
  /* top: calc(var(--circle-size) / 2); */
  top: 100px;
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
  opacity: 0.7;
}
.gradient-bg .g2 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color2)) 0,
      rgba(var(--color2)) 50%
    )
    no-repeat;
  border-radius: 100%;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 200px);
  animation: moveVertical 20s reverse infinite;
  opacity: 0.3;
}
.gradient-bg .g3 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color3)) 0,
      rgba(var(--color3)) 50%
    )
    no-repeat;
  border-radius: 100%;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2 + 100px);
  transform-origin: calc(50%);
  animation: moveInCircle 40s linear infinite;
  opacity: 0.5;
}
.gradient-bg .g4 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color4)) 0,
      rgba(var(--color4)) 50%
    )
    no-repeat;
  border-radius: 100%;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;
  opacity: 0.6;
}
.gradient-bg .g5 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color5)) 0,
      rgba(var(--color5)) 50%
    )
    no-repeat;
  border-radius: 100%;
  mix-blend-mode: var(--blending);
  width: calc(var(--circle-size) * 1);
  height: calc(var(--circle-size) * 1);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;
  opacity: 1;
}
.gradient-bg .interactive {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-interactive)) 0,
      rgba(var(--color-interactive)) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  opacity: 0.7;
}

/* Mask */
.mask {
  mask-image: url("../public/images/mask.svg");
  mask-repeat: no-repeat;
  mask-size: 40px;
  background: #d305b1;
  position: absolute;
  color: black;
}
